<!-- =====================quizeResult snippet ================================== -->
<div class="mainresultstage">
    <div class="backArrowBtn quizeresultBacBtn">
      <a href="{{ section.settings.backBtnUrl}}"> <i class="fa fa-arrow-left whiteColor"></i></a>
      <h3 class="YourAcneTxt whiteColor">{{ section.settings.Title}}</h3>
      <h1 class="yourAcneTitle whiteColor">{{ section.settings.mainTitle}}</h1>
    </div>
  <div class="mainYourAcne">
    
    <p class="yourAcneDEs">{{ section.settings.Description}}</p>
    <p class="yourAcneDEs mainregisterNowDes">{{ section.settings.outBoxDes }}</p>
  </div>

</div>